.card {
    /* border: 2px solid black; */
    padding: 20px 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    border-radius: 10px;
    margin: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    border: 1px solid black;
    /* background-color: wheat; */
}